html, body {
    font-family: sans-serif;
}
body {
    height: 5000px;
    margin: 15px;
    // font-size: 1.1rem;
    background-color: rgb(228, 228, 228);
}



.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: hsla(0, 0%, 0%, 0.473);
    opacity: 1;
    visibility: visible;
}
.modal-wrap__for-button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 520px;
}

.modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 520px;
    border-radius: 5px;
    overflow: hidden;
    background: #fafffe;
    border: 2px solid #45cba9;
    box-shadow: 1px 1px 12px 1px #000;
}
.hide-modal {
    visibility: hidden;
    opacity: 0;
}
.close-modal {
    position: absolute;
    right: -12px;
    top: -12px;
    transform: rotate(45deg);
    width: 24px;
    height: 24px;
    line-height: 7px;
    padding: 0;
    border: 2px solid #45cba9;
    border-radius: 2em;
    background: #fff;
    outline: none;
    color: #45cba9;
    font-size: 32px;
    text-align: center;
    box-shadow: 0px 0px 2px #000;
    cursor: pointer;
    z-index: 100;
    transition: .25s ease-out;
    &:hover {
        box-shadow: 0px 0px 4px #000;
        text-shadow: 0 0 1px #000;
    }
    &:focus {
        outline: none;
    }
}

.modal-window__slider-container {
    display: flex;
    width: 700px;
    height: 520px;
    // background: #ff000033; // для проверки блок слайда
    transition: all .3s ease-out;
}

.form-modal {
    width: 350px;
    padding: 50px 30px 10px 30px;
}

.form-modal__section1 {
    & input:not(:first-child) {
        margin-top: 40px;
    }
}

.form-modal_input {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 2px solid #c9c9c9;
    background: transparent;
    font-size: 1rem;
    transition: .2s ease-out;

    &::placeholder {
        color: #a8a8a8;
    }
    &:focus {
        border-bottom: 2px solid #919191;
    }
}

.form-modal__section2 {
    display: flex;
    margin-top: 40px;
    & div {
        flex-basis: 50%;
    }
}
.form-modal_radio {
    display: flex;
    flex-direction: column;
    color: #a8a8a8;
    & label {
        cursor: pointer;
    }
    & label:not(:first-child) {
        margin-top: 6px;
    }
}
.form-modal_birth-inp {
    align-self: center;
}
// Стилизация бутстраповских радио
.custom-control-label::before {
    border: 2px solid #919191;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #2ac39c;
    background-color: #fff;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: none;
    display: block;
    width: 8px;
    height: 8px;
    background-color: #2ac39c;
    border-radius: 2em;
    transform: translate(4.2px, 4px);
}

.form-modal__section3 {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #a8a8a8;
    & div:not(:first-child) {
        margin-left: 15px;
    }
    // Снова переопределение бутстраповских радио только для 3 секции
    .custom-control-input:checked~.custom-control-label::before {
        color: #fff;
        border-color: #2ac39c;
        background-color: #2ac39c;
    }
    .custom-control-label::before {
        border: none;
        background: #b8b8b8;
    }
    .custom-switch label {
        cursor: pointer;
    }
    .custom-switch .custom-control-label::after {
        top: calc(.25rem + -1px);
        left: calc(-2.25rem + -1px);
        width: calc(1rem - -2px);
        height: calc(1rem - -2px);
        background-color: #d4d4d4;
        box-shadow: 0px 2px 6px -2px #000;
    }
}
.form-modal__small-rules {
    font-size: .8rem;
}
.form-modal__link-rules {
    font-size: .8rem;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

.form-modal__section4 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.form-modal__submit {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 4px;
    background-color: #2ac3b3;
    color: rgb(238, 238, 238);
    font-size: .9rem;
    text-transform: uppercase;
    box-shadow: 0px 2px 7px -2px #000;
    transition: .2s ease-out;
    &:hover {
        background-color: #15b9a9;
        box-shadow: 0px 2px 7px -1px #000;
    }
    &:focus {
        outline: none;
    }
}

// Секция правила формы
.modal-window__form-rules {
    width: 346px;
    max-height: 465px;
    padding: 0 30px 10px 30px;
    overflow: auto;
    margin-top: 30px;
    font-size: 14px;
}
// Класс для сдвига слайда туда-сюда
.modal-window_slide-active {
    margin-left: -350px;
}